PUID= # User id of the synology user. Can be found in terminal by writing `id username`
PGID= # Group id of the synology user. Can be found in terminal by writing `id username`
TIMEZONE=Europe/Madrid
PLEX_CLAIM= # Can be found in https://www.plex.tv/claim/
ACTUAL_PASSWORD= # The password you use to log into your Actual Budget server
ACTUAL_BUDGET_SYNC_ID= # Found in Actual: Settings > Show advanced settings > Sync ID
ACTUAL_MCP_BEARER_TOKEN= # Make up a long random secret; required by clients connecting to actual-mcp (e.g. `openssl rand -hex 32`)